@{
    ViewData["Title"] = "Contact";
}
<h2>@ViewData["Title"]</h2>
<h3>@ViewData["Message"]</h3>

<img src="~/images/mihkel.jpg" height="100" width="100"/>
<address>
    Mihkel Tiganik<br />
    <abbr title="Phone">+372 55655828</abbr><br />
    <a href="mailto:mtiganik@gmail.com">mtiganik@gmail.com</a><br />
</address>

