@model WebApp.Models.Academic
@using WebApp.Models.Enums


@{
    ViewData["Title"] = "Edit";
}

<h2>Edit  @Html.DisplayFor(model => model.Resume.Name) </h2>

<h4>Academic</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="StudyType" class="control-label"></label>
                <select asp-for="StudyType" asp-items="Html.GetEnumSelectList<StudyType>()" class="form-control"></select>
                <span asp-validation-for="StudyType" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="StudyName" class="control-label"></label>
                <input asp-for="StudyName" class="form-control" />
                <span asp-validation-for="StudyName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="School" class="control-label"></label>
                <input asp-for="School" class="form-control" />
                <span asp-validation-for="School" class="text-danger"></span>
            </div>
            <input type="hidden" asp-for="ID" />
            <input type="hidden" asp-for="ResumeId" />

            <div class="form-group">
                <label asp-for="StartDate" class="control-label"></label>
                <input asp-for="StartDate" class="form-control" />
                <span asp-validation-for="StartDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="EndDate" class="control-label"></label>
                <input asp-for="EndDate" class="form-control" />
                <span asp-validation-for="EndDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index" asp-controller="Resumes" asp-route-id="@Model.ResumeId">Back to Resume</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
