@model WebApp.Models.Additional

@{
    ViewData["Title"] = "Edit";
}

<h2>Edit</h2>

<h4>Additional for @Html.DisplayFor(model => model.Resume.Name)</h4> .
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="AdditionalId" />
            <input type="hidden" asp-for="ResumeId" />
            <div class="form-group">
                <label asp-for="AdditionalTitle" class="control-label"></label>
                <input asp-for="AdditionalTitle" class="form-control" />
                <span asp-validation-for="AdditionalTitle" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="AdditionalValue" class="control-label"></label>
                <input asp-for="AdditionalValue" class="form-control" />
                <span asp-validation-for="AdditionalValue" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index" asp-controller="Resumes" asp-route-id="@Model.ResumeId">Back to Resume</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
